*{
    background-color:darkslategrey;
    padding: 15px;
    font-size: 20px;
}

button{
    width: 50px;
    height: 40px;
    background-color: cadetblue;

}
.screen .screen1 {
    height: 30px;
    position: relative;
  
}
.display{
    height: 50px;
}
.bt{
    
    width: 200px;
}
.bt2{
    width: 200px;
}